/* Write your CSS here! */
body {
    background-color: rgb(6, 133, 175);
  }
  p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: normal;
    text-align: center
    
  }
  h1 ,h2,h3{
    font-size: 40px;
  }
  
  h4,h5,h6 {
    font-size: 40px;
  }
  #home1 {
    width:600;
    height: 400;
    
  }
  #home2 {
    width:600;
    height: 400;
    
  }
  /* Write your CSS here! */